
@media only screen and (max-width: 768px) {
	.under {
		#mainContent {
			padding-bottom: 50px;
		}
		
		.key {
			margin-top: 0;
			height: 250px;
			.key_text {
				padding: 10px;
			}
			h2 {
			
				font-size: var(--ttl_size);
			}
		}
		
		h3 {
			margin-bottom: 25px;
			font-size: calc(var(--ttl_size) - 2px);
			
		}
		h4 {
			margin-bottom: 20px;
			font-size: calc(var(--ttl_size) - 4px);
		}
		h5 {
		    margin-bottom: 15px;
		    font-size: calc(var(--ttl_size) - 6px);
		}
		h6 {
			margin-bottom: 10px;
		    font-size: calc(var(--ttl_size) - 8px);
		}
	}
}



@media only screen and (max-width: 768px) {
	.under {
		.inner>section {
			&:first-child {
				>h3 {
					margin-top: 81px;
				}
			}
		}
		section {
			padding-top: 1px;
			h3 {
				margin-top: 60px;
			}
		}
		.secH4 {
			padding-top: 40px;
		}
		.secH5 {
			padding-top: 30px;
		}


		.imgBox {
			&.rowImg {
				.image_l, .image_r {
					float: none;
					width: auto;
					margin: 0 0 20px;
					text-align: center;
					max-width: none;
					&:nth-child(n) {
						max-width: none;
					}
				}
				.txt_l, .txt_r {
					float: none;
					width: auto;
				}
				&.large {
					.image_l, .image_r {
						max-width: none;
					}
					.txt_l, .txt_r {
						width: auto;
					}
				}
			}
			&.colImg {
				.item {
					&:not(:last-of-type){
						margin-bottom: 30px;
					}
				}
				figure {
					margin-bottom: 15px;
				}
				.text {
					font-size: 14px;
				}
			}
			&.colImg2, &.colImg3 {
				.item {
					width: 100%;
				}
				img{
					max-height: 100%;
				}
			}
		}

		.acf_block {
			h3 {
				margin-bottom: 0;
			}
			.text_h3 {
				margin: 25px 0 0;
			}
			.text_h4 {
				margin: 20px 0 0;
			}
			.text_h5 {
				margin: 15px 0 0;
			}
		}

		.clinic_tbl02 {
			@include iOS() {
				td {
					border-top-width: 0;
				}
			}
			th:first-child{
				width: 200px;
			}
		} 
		table {
			&.rollTable {
				width: 768px;
			}
			&.tbl_style01 {
				th {
				}
				td {
				}
				@include iOS() {
					tr:last-child td{
						border-bottom-width: 1.4px;
					}}
			}
			&.resTable {
				display: block;
				tbody, tr, th, td {
					display: block;
				}
				
				td {
					&:not(:last-child) {
						border-bottom: 0;
					}
				}
				&.tbl_style01 {
					&.colHead {
						tr {
							th {
								border: 1px solid var(--main-color);	
								border-bottom: none;
							}
							&:not(:first-child) {
								th {
									border-top: none;
								}
							}
						}
					}
				}
				&.tbl_style02 {
					
					&.colHead {
						th {
							border-bottom: none;
						}
						tr:not(:last-child) {
							td {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
		.tbl_note {
			display: block;
		}


		ul.list01 {
			li {
				font-size: 14px;
			}
			&.mcol-2 {
				li {
					width: 100%;
					padding-bottom: 9px;
					padding-right: 0;
				}
			}
		}


		.doctor_box {
            padding: 0vw;

            .doctor_name {
                bottom: 5vw;
                right: 3.5vw;
                font-size: 4vw;
                padding: 3vw 2vw;
            }
        }
	}
}
@media only screen and (max-width: 375px) {
	.under {
		.imgBox {
		
			&.colImg2,
			&.colImg3 {
				.item {
					width: 100%;
				}
			}
		}
	}	
}
// End Under General


@media only screen and (max-width: 768px) {
	.under {
		.clinic_tbl01 {
			th {width: auto; text-align: left;}
		}
		.teeth_box {
			.secH4 {
				width: 100%;
			}
		}
	}
}

@include screen('max425') {
	.under {
		.access_box_img01, .access_box_img02 {
			.block {
				&:nth-child(even) {
					.big {
						order: 0;
					}
				}
				.big, .small {
					width: 100%;
				}
			}
		}		
	}
}